<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodaj Markę</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:include="fragments/scripts :: css"></th:block>

</head>
<body>

<div th:replace="fragments/dashboard :: topNav">
</div>


<div class="container-fluid">
    <div class="row">

        <th:block th:include="fragments/dashboard :: leftNav">
        </th:block>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

            <h2>Dodaj markę:</h2>

            <form th:method="post" th:object="${brand}">
                Name:<input type="text" th:field="*{name}"><br>
                <input type="submit" value="Dodaj">
            </form>

        </main>
    </div>
</div>

<th:block th:include="fragments/scripts :: scripts">
</th:block>

</body>
</html>