<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodaj Model</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:include="fragments/scripts :: css"></th:block>

</head>
<body>

<div th:replace="fragments/dashboard :: topNav">
</div>


<div class="container-fluid">
    <div class="row">

        <th:block th:include="fragments/dashboard :: leftNav">
        </th:block>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

            <h2>Edytuj model:</h2>

            <div class="col-md-8">
                <form class="needs-validation" method="post" th:object="${welderModel}">
                    <input type="hidden" th:field="*{versionId}">
                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label for="brand">Marka</label>
                            <select class="custom-select d-block w-100" id="brand" th:field="*{brandId}" required>
                            </select>
                            <div class="invalid-feedback">
                                Wybierz markę urządzenia.
                            </div>
                        </div>
                        <div class="col-md-8 mb-3">
                            <label for="model">Model</label>
                            <input type="text" class="form-control" id="model" placeholder="Wpisz model urządzenia"
                                   th:field="*{name}" required>
                            <div class="invalid-feedback">
                                Valid last name is required.
                            </div>
                        </div>
                    </div>
                    <hr class="mb-3">

                    <h6 class="mb-3">Typ urządzenia</h6>

                    <!-- mig -->
                    <div class="row mb-3">

                        <div class="custom-control custom-checkbox col-md-2 offset-1">
                            <input type="checkbox" class="custom-control-input" id="mig" th:field="*{mig}">
                            <label class="custom-control-label" for="mig">Mig/Mag</label>
                        </div>

                        <div class="col-md-2 mb-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Imin</span>
                                </div>
                                <input type="number" class="form-control" id="migImin" min="0" max="1000"
                                       th:field="*{migImin}">
                                <div class="invalid-feedback" style="width: 100%;">
                                    Wpisz poprawną wartość.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Imax</span>
                                </div>
                                <input type="number" class="form-control" id="migImax" min="0" max="1000"
                                       th:field="*{migImax}">
                                <div class="invalid-feedback" style="width: 100%;">
                                    Wpisz poprawną wartość.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Umin</span>
                                </div>
                                <input type="number" class="form-control" id="migUmin" min="0" max="100" step="0.1"
                                       th:field="*{migUmin}">
                                <div class="invalid-feedback" style="width: 100%;">
                                    Wpisz poprawną wartość.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Umax</span>
                                </div>
                                <input type="number" class="form-control" id="migUmax" min="0" max="100" step="0.1"
                                       th:field="*{migUmax}">
                                <div class="invalid-feedback" style="width: 100%;">
                                    Wpisz poprawną wartość.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- mma -->
                    <div class="row mb-3">
                        <div class="custom-control custom-checkbox col-md-2 offset-1">
                            <input type="checkbox" class="custom-control-input" id="mma" th:field="*{mma}">
                            <label class="custom-control-label" for="mma">MMA</label>
                        </div>
                        <div class="col-md-2 mb-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Imin</span>
                                </div>
                                <input type="number" class="form-control" id="mmaImin" min="0" max="1000"
                                       th:field="*{mmaImin}">
                                <div class="invalid-feedback" style="width: 100%;">
                                    Wpisz poprawną wartość.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Imax</span>
                                </div>
                                <input type="number" class="form-control" id="mmaImax" min="0" max="1000"
                                       th:field="*{mmaImax}">
                                <div class="invalid-feedback" style="width: 100%;">
                                    Wpisz poprawną wartość.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Umin</span>
                                </div>
                                <input type="number" class="form-control" id="mmaUmin" min="0" max="100" step="0.1"
                                       th:field="*{mmaUmin}">
                                <div class="invalid-feedback" style="width: 100%;">
                                    Wpisz poprawną wartość.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Umax</span>
                                </div>
                                <input type="number" class="form-control" id="mmUmax" min="0" max="100" step="0.1"
                                       th:field="*{mmaUmax}">
                                <div class="invalid-feedback" style="width: 100%;">
                                    Wpisz poprawną wartość.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- tig -->
                    <div class="row mb-3">
                        <div class="custom-control custom-checkbox col-md-2 offset-1">
                            <input type="checkbox" class="custom-control-input" id="tig" th:field="*{tig}">
                            <label class="custom-control-label" for="tig">TIG</label>
                        </div>
                        <div class="col-md-2 mb-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Imin</span>
                                </div>
                                <input type="number" class="form-control" id="tigImin" min="0" max="1000"
                                       th:field="*{tigImin}">
                                <div class="invalid-feedback" style="width: 100%;">
                                    Wpisz poprawną wartość.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Imax</span>
                                </div>
                                <input type="number" class="form-control" id="tigImax" min="0" max="1000"
                                       th:field="*{tigImax}">
                                <div class="invalid-feedback" style="width: 100%;">
                                    Wpisz poprawną wartość.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Umin</span>
                                </div>
                                <input type="number" class="form-control" id="tigUmin" min="0" max="100" step="0.1"
                                       th:field="*{tigUmin}">
                                <div class="invalid-feedback" style="width: 100%;">
                                    Wpisz poprawną wartość.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 mb-2">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Umax</span>
                                </div>
                                <input type="number" class="form-control" id="tigUmax" min="0" max="100" step="0.1"
                                       th:field="*{tigUmax}">
                                <div class="invalid-feedback" style="width: 100%;">
                                    Wpisz poprawną wartość.
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr class="mb-3">

                    <h6 class="mb-3">Mierniki</h6>

                    <div class="row mb-3">
                        <div class="custom-control custom-checkbox col-md-2 offset-2">
                            <input type="checkbox" class="custom-control-input" id="amp" th:field="*{currentMeter}">
                            <label class="custom-control-label" for="amp">Amperomierz</label>
                        </div>
                        <div class="custom-control custom-checkbox col-md-2">
                            <input type="checkbox" class="custom-control-input" id="wolt" th:field="*{voltageMeter}">
                            <label class="custom-control-label" for="wolt">Woltomierz</label>
                        </div>
                    </div>
                    <hr class="mb-3">

                    <h6 class="mb-3">Regulacja</h6>

                    <div class="row">
                        <div class="custom-control custom-checkbox col-md-2 offset-2">
                            <input type="checkbox" class="custom-control-input" id="stepControl" th:field="*{stepControl}">
                            <label class="custom-control-label" for="stepControl">Regulacja skokowa</label>
                        </div>
                    </div>
                    <hr class="mb-3">

                    <button class="btn btn-primary btn-lg offset-10" type="submit">Zapisz</button>
                </form>

            </div>

        </main>
    </div>
</div>

<th:block th:include="fragments/scripts :: scripts">
</th:block>

<script type="application/javascript" src="/js/addWelderModel.js"></script>

</body>
</html>