<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edytuj Urządzenie</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:include="fragments/scripts :: css"></th:block>

</head>
<body>

<div th:replace="fragments/dashboard :: topNav">
</div>


<div class="container-fluid">
    <div class="row">

        <th:block th:include="fragments/dashboard :: leftNav">
        </th:block>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

            <h2>Edytuj urządzenie:</h2>

            <div class="col-md-8">
                <form class="needs-validation" method="post" th:object="${machine}">
                    <input type="hidden" th:field="*{versionId}">
                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="customer">Firma</label>
                            <select class="custom-select d-block w-100" id="customer" th:field="*{customerId}"
                                    th:attr="data-id=${machine.customerId}">
                                <option value="" disabled selected>Wybierz Firmę</option>
                            </select>
                            <div class="invalid-feedback">
                                Wybierz markę urządzenia.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 mb-3">
                            <label for="brand">Marka</label>
                            <select th:attr="data-id=${machine.welderModelBrandId}" class="custom-select d-block w-100" id="brand" required>
                                <option value="" disabled selected>Wybierz Markę</option>
                            </select>
                            <div class="invalid-feedback">
                                Wybierz markę urządzenia.
                            </div>
                        </div>
                        <div class="col-md-7 mb-3">
                            <label for="model">Model</label>
                            <select class="custom-select d-block w-100" id="model" th:field="*{welderModelId}" required
                                    th:attr="data-id=${machine.welderModelId}">
                            </select>
                            <div class="invalid-feedback">
                                Wybierz markę urządzenia.
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="sn">Nr seryjny</label>
                            <input type="text" class="form-control" id="sn" placeholder="Wpisz numer seryjny"
                                   th:field="*{serialNumber}">
                            <div class="invalid-feedback">
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="inw">Nr inwentarzowy</label>
                            <input type="text" class="form-control" id="inw" placeholder="Wpisz numer inwentarzowy">
                            <div class="invalid-feedback">
                            </div>
                        </div>
                    </div>
                    <hr class="mb-3">


                    <button class="btn btn-primary btn-lg offset-10" type="submit">Zapisz</button>
                </form>
            </div>

        </main>
    </div>
</div>

<th:block th:include="fragments/scripts :: scripts">
</th:block>

<script type="application/javascript" src="/js/editMachine.js"></script>

</body>
</html>