<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodaj Walidację</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:include="fragments/scripts :: css"></th:block>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/select/1.2.6/css/select.dataTables.css"/>

</head>
<body>

<div th:replace="fragments/dashboard :: topNav">
</div>


<div class="container-fluid">
    <div class="row">

        <th:block th:include="fragments/dashboard :: leftNav">
        </th:block>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

            <h2>Walidacja urządzenia:</h2>

            <div class="col-md-12">
                <form class="needs-validation" id="form" method="post" th:object="${validation}" th:attr="data-id=${validation.id}">
                    <input type="hidden" th:field="*{versionId}">
                    <div class="row">
                        <div class="col-md-2 mb-3">
                            <label for="protocolNumber">Nr Protokołu</label>
                            <input type="text" class="form-control" id="protocolNumber" th:value="*{protocolNumber}"
                                   readonly>
                            <div class="invalid-feedback">
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="customer">Firma</label>
                            <input type="text" class="form-control" id="customer" th:value="*{machineCustomerShortName}"
                                   readonly>
                            <div class="invalid-feedback">
                            </div>
                        </div>
                        <div class="col-md-2 mb-3">
                            <label for="brand">Marka</label>
                            <input type="text" class="form-control" id="brand" th:value="*{machineWelderModelBrandName}"
                                   readonly>
                            <div class="invalid-feedback">
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="model">Model</label>
                            <input type="text" class="form-control" id="model" th:value="*{machineWelderModelName}"
                                   readonly>
                            <div class="invalid-feedback">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 mb-3">
                            <label for="sn">Nr seryjny</label>
                            <input type="text" class="form-control" id="sn" th:value="*{machineSerialNumber}"
                            readonly>
                            <div class="invalid-feedback">
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="inw">Nr inwentarzowy</label>
                            <input type="text" class="form-control" id="inw" th:value="*{machineInwNumber}"
                            readonly>
                            <div class="invalid-feedback">
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                            <label for="method">Metoda</label>
                            <input type="text" class="form-control" id="method" th:value="*{type}"
                                   readonly>
                            <div class="invalid-feedback">
                            </div>
                        </div>
                    </div>
                    <hr class="mb-3">
                        <table id="table" class="table table-striped table-sm table-hover" width="100%">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>I ust</th>
                                <th>U ust</th>
                                <th>I spawarki</th>
                                <th>U spawarki</th>
                                <th>I zmierzone</th>
                                <th>U zmierzone</th>
                            </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>


                    <button class="btn btn-primary btn-lg offset-10" type="submit">Zapisz</button>
                </form>
            </div>

        </main>
    </div>
</div>

<th:block th:include="fragments/scripts :: scripts">
</th:block>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.bootstrap4.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.colVis.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/select/1.2.6/js/dataTables.select.js"></script>


<script type="application/javascript" src="/js/dataTables.cellEdit.js"></script>
<script type="application/javascript" src="/js/editValidation.js"></script>

</body>
</html>